h1 {
    text-align: center;
    background-color: beige;
}

p {
    font-family: "Garamond", serif;
    font-size: 20px;
}

ul.repository {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}

ul.repository li{
    font-size: 25px;
    font-family: serif;
    display: inline-block;
    width: 200px;
    margin-right: 40px;
}

ul.repository :last-child {
    margin-right: 0;
}

li a {
    display: inline-block;
    font-size: 14px;
}

li {
    font-family: sans-serif;
    color: gray;
}

div {
    width: fit-content;
    margin: 0 auto;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: black;
    text-align: center;
}

li p {
    color: black;
    margin: 0;
    font-size: 17px;
}

.filler-text {
    visibility: hidden;
}