h1 {
    text-align: center;
    background-color: beige;
}

p {
    font-family: "Garamond", serif;
    font-size: 20px;
}

li a {
    font-size: 25px;
    font-family: serif;
}

li {
    font-family: sans-serif;
    color: gray;
}

div {
    width: fit-content;
    margin: 0 auto;
}